# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: macos-latest

    steps:
    
    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Install Swift Lint
      run: brew install swiftlint

    - name: Run Swiftlint and Save Report
      run: |
        swiftlint > swiftlint-report.txt
      continue-on-error: true

    - name: Upload Swiftlint Report
      uses: actions/upload-artifact@v4
      with:
        name: swiftlint-report.txt
        
